<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
xmlns:sec=http://www.thymeleaf.org/extras/spring-security
xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
  <head th:replace="layout/fragmentos :: head">
  <body>
    <aside th:replace="layout/fragmentos :: aside"></aside>
    <section class="full-width pageContent">
        <div class="full-width navBar" th:replace="layout/fragmentos :: navbar" ></div>
        <section class="section">
        <div class="container-fluid py-4">
                <div class="alert alert-info w-75 text-center mx-auto my-0" role="alert"
                    th:if="${mensajeFinal != null}">
                    <span th:text="${mensajeFinal}"></span>
                </div>
                <div class="card mx-auto ">
                    <div class="card-header text-dark py-4">
                        <div class="row justify-content-evenly align-items-center">
                            <div class="col-12 col-lg-6 text-center fw-600 fs-3">Personal Actualmente</div>
                            <div class="col-12 col-lg-6 text-center">
                                <div class="row py-3 justify-content-center">
                                    <div class="col-12">
                                        <form th:action="@{/equipo/buscar/}" style="display: none;">
                                            <button type="submit"  class="btn-sm btn-primary px-4 py-2"><i class="fas fa-search p-0 m-0"></i></button>
                                        </form>
                                        <input type="text" id="search" name="id" placeholder="Buscar" class="text-start ps-2 mx-4 p-0 dash_search form-control-sm ">
                                        <a href="" id="agregarpersonal" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#formModal" >
                                            
                                            <i id="iconpersonal" class="fas fa-plus "></i>
                                        </a>
                                        <a th:href="@{/personal/exportarPdf/}"  class="btn btn-danger my-2"  >
                                            PDF
                                            <i class="fas fa-plus "></i>
                                        </a>
                                        <a th:href="@{/personal/exportarExcel/}"  class="btn btn-success"  >
                                            Excel
                                            <i class="fas fa-plus "></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive ">
                        <div class="row pb-3">
                            <div class="col-12">
                                <p class="d-inline">Mostrar</p>
                                <select id="select" name="select">
                                    <option value="5" th:selected=" ${numPage ==  5 } ?  true : false">5</option>
                                    <option value="10" th:selected=" ${numPage == 10 } ?  true : false">10</option>
                                    <option value="15" th:selected=" ${numPage == 15 } ?  true : false">15</option>
                                </select>
                                <p class="d-inline">Registros</p>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered text-center ">
                            <thead>
                                <tr>
                                    <th class="px-3">ID</th>
                                    <th class="px-3">Nombre</th>
                                    <th class="px-3">Apellidos</th>
                                    <th class="px-3">Dni</th>
                                    <th class="px-3"></th>
                                    <th class="px-3"></th>
                                    <th class="px-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${list}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.nombre}" th:data-nombre="${item.nombre}" ></td>
                                    <td th:text="${item.apellidos}"></td>   
                                    <td th:text="${item.cargo.tipo}"></td>    
                                    <td>
                                        <a 
                                         th:href="@{/personal/editar/} + ${item.id}" 
                                         id="editpersonal"
                                         th:data-id="${item.id}"
                                         th:data-name="${item.nombre}"
                                         th:data-apellidos="${item.apellidos}"
                                         th:data-cargo="${item.cargo.id}"
                                         th:data-dni="${item.dni}"
                                         th:data-direccion="${item.direccion}"
                                         th:data-telefono="${item.telefono}"
                                         th:data-correo="${item.correo}"
                                         class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                         <i class="fas fa-edit" ></i> Editar</a>
                                    </td>
                                    <td>
                                        <a 
                                        id="eliminarpersonal"
                                        th:data-id="${item.id}"
                                        data-bs-toggle="modal" data-bs-target="#formModal2"                                    
                                        class="btn btn-danger"> 
                                        <i class="fas fa-trash pe-1"></i>Eliminar</a>
                                    </td>
                                    <td>
                                        <a 
                                        th:href="@{/personal/ver/} + ${item.id}" 
                                        id="verpersonal"
                                        th:data-id="${item.id}"
                                        th:data-name="${item.nombre}"
                                        th:data-apellidos="${item.apellidos}"
                                        th:data-cargo="${item.cargo.id}"
                                        th:data-dni="${item.dni}"
                                        th:data-direccion="${item.direccion}"
                                        th:data-telefono="${item.telefono}"
                                        th:data-correo="${item.correo}"
                                        class="btn btn-secondary px-2" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                        <i class="fas fa-eye pe-1 "></i>Ver</a>
                                    </td>
                                </tr>                 
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                            <div class="col-12">
                                <nav aria-label="Pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/material/?page=${prev}|}"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="page-item" th:each="page : ${pages}"
                                            th:classappend="${current == page ? 'active' : ''}">
                                            <a class="page-link" th:href="@{|/material/?page=${page}|}"
                                                th:text="${page}"></a>
                                        </li>
                                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/material/?page=${next}|}"><span
                                                    aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                </div>                       
        </div>
      </section>
    </section>

    <!-- //* Modal Agregar -->
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  method="post" th:action="@{/personal/form}" th:object="${personal}" >
                    <input id="id" type="hidden" th:field="*{id}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" ></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class ="row">
                            <div class="col-12  mb-3">
                                <label>Nombre</label>
                                <input id="name" type="text" class="form-control" 
                                th:field="*{nombre}"
                                placeholder="Ingrese nombre"/>
                            </div>
                        </div>       
                        <div class ="row">
                            <div class="col-12  mb-3">
                                <label>Apellidos</label>
                                <input id="apellidos" type="text" class="form-control" 
                                th:field="*{apellidos}"
                                placeholder="Ingrese Apellidos"/>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-12 col-sm-6  mb-3">
                                <label>TIpo Cargo</label>
                                <select
                                    id="cargo"
                                    class="form-select"
                                    th:field="*{cargo.id}"
                                    required
                                >
                                    <option value="">-- Seleccione Cargo</option>
                                    <option
                                    th:each="item: ${listaCargos}"
                                    th:value="${item.id}"
                                    th:text="${item.tipo}"
                                    ></option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6  mb-3">
                                <label>Dni</label>
                                <input id="dni" type="number" class="form-control" 
                                th:field="*{dni}"
                                placeholder="Ingrese el Dni"/>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-12  mb-3">
                                <label>Direccion</label>
                                <input id="direccion" type="text" class="form-control" 
                                th:field="*{direccion}"
                                placeholder="Ingrese la Dirección"/>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label>Telefono</label>
                                <input id="telefono" type="number" class="form-control" 
                                th:field="*{telefono}"
                                placeholder="Ingrese el Telefono"/>
                            </div>
                            <div class="col-6  mb-3">
                                <label>Correo</label>
                                <input id="correo" type="email" class="form-control" 
                                th:field="*{correo}"
                                placeholder="Ingrese el Precio de Obra"/>
                            </div>
                        </div>     
                    </div>
                    <div class="modal-footer">
                        
                        <button id="limpiarpersonal" type="button"  class="btn btn-secondary text-black ">LIMPIAR</button>
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <input type="submit" id="btn-guardar" class="btn btn-primary" value="GUARDAR">
                    </div>
                </form> 
            </div>
        </div>
    </div>

    <!-- //* Modal Eliminar -->
    <div class="modal fade" id="formModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fw-700 fs-4" id="exampleModalLabel" ><i class="fas fa-trash"></i> Borrar !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p class="text-dark fw-500">    
                        Está Seguro de Eliminar este Registro ?
                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                    <a id="deletepersonal" type="submit" class="btn btn-danger">SI, estoy Seguro</a>
            </div>
        </div>
        </div>
    </div>

    <div th:replace="layout/fragmentos :: extra"></div>
  </body>
</html>
