<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
xmlns:sec=http://www.thymeleaf.org/extras/spring-security
xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
  <head th:replace="layout/fragmentos :: head">
  <body>
    <aside th:replace="layout/fragmentos :: aside"></aside>
    <section class="full-width pageContent">
        <div class="full-width navBar" th:replace="layout/fragmentos :: navbar" ></div>
        <section class="section">
        <div class="container-fluid py-4">
                <div class="alert alert-info w-75 text-center mx-auto my-0" role="alert"
                    th:if="${mensajeFinal != null}">
                    <span th:text="${mensajeFinal}"></span>
                </div>
                <div class="card mx-auto ">
                    <div class="card-header text-dark py-4">
                        <div class="row justify-content-evenly align-items-center">
                            <div class="col-12 col-lg-6 text-center fw-600 fs-3">Contacto en Campo actualmente</div>
                            <div class="col-12 col-lg-6 text-center">
                                <div class="row py-3 justify-content-center">
                                    <div class="col-12">
                                        <form th:action="@{/contactocampo/buscar/}" style="display: none;">
                                            <button type="submit"  class="btn-sm btn-primary px-4 py-2"><i class="fas fa-search p-0 m-0"></i></button>
                                        </form>
                                        <input type="text" id="search" name="id" placeholder="Buscar" class="text-start ps-2 mx-4 p-0 dash_search form-control-sm ">
                                        <a href="" id="agregarcontactocampo" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#formModal" >
                                            
                                            <i id="iconcontactocampo" class="fas fa-plus "></i>
                                        </a>
                                        <a th:href="@{/contactocampo/exportarPdf/}"  class="btn btn-danger my-2"  >
                                            PDF
                                            <i id="iconcontactocampo" class="fas fa-plus "></i>
                                        </a>
                                        <a th:href="@{/contactocampo/exportarExcel/}"  class="btn btn-success"  >
                                            Excel
                                            <i id="iconcontactocampo" class="fas fa-plus "></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive ">
                        <div class="row pb-3">
                            <div class="col-12">
                                <p class="d-inline">Mostrar</p>
                                <select id="select" name="select">
                                    <option value="5" th:selected=" ${numPage ==  5 } ?  true : false">5</option>
                                    <option value="10" th:selected=" ${numPage == 10 } ?  true : false">10</option>
                                    <option value="15" th:selected=" ${numPage == 15 } ?  true : false">15</option>
                                </select>
                                <p class="d-inline">Registros</p>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered text-center ">
                            <thead>
                                <tr>
                                    <th class="px-3">ID</th>
                                    <th class="px-3">Empresa</th>
                                    <th class="px-3">Cargo</th>
                                    <th class="px-3">Telefono</th>
                                    <th class="px-3">Correo</th>
                                    <th class="px-3"></th>
                                    <th class="px-3"></th>
                                    <th class="px-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${list}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.empresa}" th:data-nombre="${item.empresa}"></td>
                                    <td th:text="${item.cargo_empresa}"></td>                               
                                    <td th:text="${item.telefono}"></td> 
                                    <td th:text="${item.correo}"></td>                                  
                                    <td>
                                        <a 
                                         th:href="@{/contactocampo/editar/} + ${item.id}" 
                                         id="editcontactocampo"
                                         th:data-id="${item.id}"
                                         th:data-empresa="${item.empresa}"
                                         th:data-cargo_empresa="${item.cargo_empresa}"
                                         th:data-telefono="${item.telefono}"
                                         th:data-correo="${item.correo}"
                                         class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                         <i class="fas fa-edit" ></i> Editar</a>
                                    </td>
                                    <td>
                                        <a 
                                        id="eliminarcontactocampo"
                                        th:data-id="${item.id}"
                                        data-bs-toggle="modal" data-bs-target="#formModal2"                                    
                                        class="btn btn-danger"> 
                                        <i class="fas fa-trash pe-1"></i>Eliminar</a>
                                    </td>                                   
                                    <td>
                                        <a 
                                        th:href="@{/contactocampo/ver/} + ${item.id}" 
                                        id="vercontactocampo"
                                        th:data-id="${item.id}"
                                        th:data-empresa="${item.empresa}"
                                        th:data-cargo_empresa="${item.cargo_empresa}"
                                        th:data-telefono="${item.telefono}"
                                        th:data-correo="${item.correo}"
                                        class="btn btn-secondary px-2" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                        <i class="fas fa-eye pe-1 "></i>Ver</a>
                                    </td>                                   
                                </tr>                 
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                            <div class="col-12">
                                <nav aria-label="Pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/cliente/?page=${prev}|}"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="page-item" th:each="page : ${pages}"
                                            th:classappend="${current == page ? 'active' : ''}">
                                            <a class="page-link" th:href="@{|/cliente/?page=${page}|}"
                                                th:text="${page}"></a>
                                        </li>
                                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/cliente/?page=${next}|}"><span
                                                    aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                </div>                       
        </div>
      </section>
    </section>
    <!-- //* Modal Agregar -->
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  method="post" th:action="@{/contactocampo/form}" th:object="${contactoCampo}" >
                    <input id="id" type="hidden" th:field="*{id}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" ></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class ="row">
                            <div class="col-12  mb-3">
                                <label>Empresa</label>
                                <input id="empresa" type="text" class="form-control" 
                                th:field="*{empresa}"
                                placeholder="Ingrese la Empresa"/>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-12  mb-3">
                                <label>Cargo</label>
                                <input id="cargo_empresa" type="text" class="form-control" 
                                th:field="*{cargo_empresa}"
                                placeholder="Ingrese el Cargo"/>
                            </div>
                        </div> 
                        <div class="row">                            
                            <div class="col-6  mb-3">
                                <label>Telefono</label>
                                <input id="telefono" type="text" class="form-control" 
                                th:field="*{telefono}"
                                placeholder="Ingrese telefono"/>
                            </div>
                            <div class="col-6  mb-3">
                                <label>Correo</label>
                                <input id="correo" type="text" class="form-control" 
                                th:field="*{correo}"
                                placeholder="Ingrese correo"/>
                            </div>
                        </div>                               
                    </div>
                    <div class="modal-footer">                
                        <button id="limpiarcontactocampo" type="button"  class="btn btn-secondary text-black ">LIMPIAR</button>
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <input type="submit" id="btn-guardar" class="btn btn-primary" value="GUARDAR">
                    </div>
                </form> 
            </div>
        </div>
    </div>

    <!-- //* Modal Eliminar -->
    <div class="modal fade" id="formModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fw-700 fs-4" id="exampleModalLabel" ><i class="fas fa-trash"></i> Borrar !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p class="text-dark fw-500">    
                        Está Seguro de Eliminar este Registro ?
                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                    <a id="deletecontactocampo" type="submit" class="btn btn-danger">SI, estoy Seguro</a>
            </div>
        </div>
        </div>
    </div>
    <div th:replace="layout/fragmentos :: extra"></div>
  </body>
</html>
